  /* desktop */

:root {
  --primary-color: #f1f1f1;
  --secondary-color: #000000;
  --background-color: #000000;

  --font-body-family: "Courier New", monospace;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-weight-bold: 700;
  --font-heading-family: "Courier New", monospace;
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-body-scale: 1;

  --z-index-nav: 999999;

  --flicker-strength: 0.2;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  background-color: #000000;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

@media print {
  .nav-item--open > ul, .nav-item--open > ul * {
        display:none;
        border:0px !important
    }
  
    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust:exact !important
    }

    body {
        background-color: #fff;
        display: block;
        font-size: 10px;
        margin: 0;
        padding:0;
      object-fit:contain
    }
}

#desktop {
  position: fixed;
  top: calc(2.5% + 8px + 1.6em);
  left: 2.5%;
  background: rgb(255, 255, 243);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  width: 95%;
  height: calc(95% - 8px - 1.6em);
  align-items: center;
  z-index: 0;
}
.loading {display: none;}

#desktop::before {
  content: " ";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 30%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.02),
      rgba(0, 255, 0, 0.005),
      rgba(0, 0, 255, 0.01)
    );
  background-size: 100% 3px, 3px 100%;
  pointer-events: none;
  animation: flicker 0.15s infinite;


}

@keyframes flicker {
  0% {
    opacity: calc(0.3110708144 * var(--flicker-strength));
  }
  5% {
    opacity: calc(0.4100544822 * var(--flicker-strength));
  }
  10% {
    opacity: calc(0.2545181193 * var(--flicker-strength));
  }
  15% {
    opacity: calc(0.5218255527 * var(--flicker-strength));
  }
  20% {
    opacity: calc(0.6484908331 * var(--flicker-strength));
  }
  25% {
    opacity: calc(0.7080114771 * var(--flicker-strength));
  }
  30% {
    opacity: calc(0.5631970786 * var(--flicker-strength));
  }
  35% {
    opacity: calc(0.917632443 * var(--flicker-strength));
  }
  40% {
    opacity: calc(0.0948466981 * var(--flicker-strength));
  }
  45% {
    opacity: calc(0.8326163351 * var(--flicker-strength));
  }
  50% {
    opacity: calc(0.6899885766 * var(--flicker-strength));
  }
  55% {
    opacity: calc(0.2888567905 * var(--flicker-strength));
  }
  60% {
    opacity: calc(0.9248702036 * var(--flicker-strength));
  }
  65% {
    opacity: calc(0.7040007702 * var(--flicker-strength));
  }
  70% {
    opacity: calc(0.2640259186 * var(--flicker-strength));
  }
  75% {
    opacity: calc(0.5556345635 * var(--flicker-strength));
  }
  80% {
    opacity: calc(0.5216816534 * var(--flicker-strength));
  }
  85% {
    opacity: calc(0.7383953722 * var(--flicker-strength));
  }
  90% {
    opacity: calc(0.0820464927 * var(--flicker-strength));
  }
  95% {
    opacity: calc(0.2139555955 * var(--flicker-strength));
  }
  100% {
    opacity: calc(0.7105653676 * var(--flicker-strength));
  }
}



/* navbar */
nav {
  font-weight: bold;
  display: flex;
  align-items: flex-start;

  background-color: white;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;

  border-bottom: 2px solid black;

  padding-top: 1px;
  padding-bottom: 1px;

  width: 95%;
  position: fixed;
  right: 2.5%;
  top: 2.5%;
  z-index: 100;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav > * {
  z-index: 100;
}

#nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 5px;
  margin-left: 10px;
  padding-bottom: 0px !important;
  padding-top: 0px;

}

#nav-logo > img {
  width: 1.5em;
  height: 1.5em;

}

#nav-logo:hover {
  filter: invert(1);
  background-color: white;
  -webkit-filter: invert(1);
}

.nav-item {
  margin-right: 5px;
  position: relative;
}

.nav-item *:not(:disabled) {
  color: black;
}

.nav-item *:disabled {
  color: grey;
}

.nav-item > ul {
  display: none;

  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

  width: 200px;
  position: absolute;
  top: calc(100% + 2px);
  left: 0px;

  background-color: white;
  border: 2px solid black;
}

.nav-item.nav-item--open > ul {
  display: block;
  z-index: var(--z-index-nav); 
}

.nav-item.nav-item--open > ul > li > button {
  padding-left: 10px;
  width: 100%;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
}

.nav-item > ul > li.nav-divisor {
  height: 2px;
  width: 100%;
  border: 2px dotted black;
  border-style: none none dotted;
  color: white;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-item > button,
.nav-item > ul > li > button {
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: var(--font-body-family);
  font-size: var(--font-size);
  font-weight: bold;
}

.nav-item > ul > li > button:disabled {
  cursor: default;
}

.nav-item > button:hover,
.nav-item > ul > li > button:not(:disabled):hover {
  background-color: black;
  color: white;
}

ins {
  position: relative;
  text-decoration: none;
  float: right;
  margin-right: 10px;
  font-variant-numeric: tabular-nums lining-nums;
  opacity: 50%;
  width: 1em;
}

ins::before {
  content: "⌘";
  font-size: 0.6em;
  font-variant-numeric: tabular-nums lining-nums;
  vertical-align: text-bottom;
}

.ui-dialog-title,
span, b, input::placeholder, textarea::placeholder, input.btn, input[type="text"], input[type="email"], textarea {
  font-family: var(--font-body-family);
}

* {
  font-family: var(--font-body-family);
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}


.ui-dialog-title {
    white-space: initial !important;
}

/* icons */

.desktop-icon {
  width: 168px;
  height: 168px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  cursor: pointer;
  z-index: 3 !important;
}

.desktop-icon * {
  z-index: 3 !important;
}

.desktop-icon:hover > span,
.desktop-icon:hover > div > img {
  background-color: lightgray;
  border-radius: 2px;
  border-color: lightgray;
}

.desktop-icon > span {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid-white;
  max-width: 168px;
  font-family: var(--font-body-family);
  position: relative;
}

.desktop-icon > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(168px - 1.5em / 0.625);
}

.desktop-icon > div > img {
  max-width: 100%;
  max-height: 100%;
  z-index: 3 !important
}

.folder-icon {
  width: 130px;
  height: 130px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.folder-icon > span {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 130px;
  border-bottom: 1px solid white;
  font-family: var(--font-body-family);
}

.folder-icon > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(130px - 1.5em / 0.625);
}

.folder-icon > div > img {
  max-width: 100%;
  max-height: 100%;
}

.folder-icon:hover > span,
.folder-icon:hover > div > img {
  background-color: lightgray;
  border-radius: 2px;
  border-color: lightgray;
}

 .ui-dialog-titlebar-info {
  position: absolute;
  right: 2em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}


.wallpaper {
  display: none;

  position: fixed;
  right: 2.5%;
  bottom: 2.5%;
  max-height: 95%;
}

.wallpaper--open {
  display: flex;
  z-index: 0;
}

.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  overflow: auto;
}

.card-pic {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  height: 150px;
}

.card-pic > span {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 100%;
  border-bottom: 1px solid white;
  font-family: var(--font-body-family);
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.card-pic > img {
  max-width: 100%;
  max-height: 100%;
  height: calc(150px - 1.6em / 0.625);
}

.card-pic:hover > img,
.card-pic:hover > span {
  background-color: lightgray;
  border-radius: 2px;
  border-color: lightgray;
  border-style: solid;
  border-width: 0px;
}

.ui-dialog-buttonset {
  float: none !important;
  display: flex !important;
  align-content: center !important;
  width: auto !important;
}

.photo-caption {
  text-align: center;
  line-height: normal;
  font-family: var(--font-body-family);
  font-size: small;
}

.photo-caption > span {
  white-space: nowrap;
}

.leftButton {
  margin-left: 3% !important;
  float: none !important;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.rightButton {
  margin-left: 3% !important;
  float: none !important;
  margin-right: 0% !important;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.ui-button:disabled {
  background-color: rgb(143, 141, 141) !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.ui-button:active {
    background-color:rgb(134, 134, 134);
    border: 0px;
}



.pic {
  max-height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pic > img {
    max-width: 100% !important;
}

#map { height: 180px; 
width: 100%;
margin-bottom: 25px;}

.leaflet-popup-content{
    max-width: 100px;
    text-align: center;
}

.exif-item-illustration {
    width: 30px;
    margin-right: 10px;
}

#exif {
    
    column-count: 2;
    grid-gap: 10px;
  
  }

  #exif > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .camera {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 15px;
  }
  
  .camera img {
    margin-right: 10px;
    width: 30px;
  }

#cam * {
    width: 270px !important;
}

input, textarea {
  border: 2px solid #bbbbbb;
  width: 100% !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}



form {
display: grid;
grid-auto-rows: auto;
row-gap: 10px;

}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;

}


textarea {
  resize: none;
  margin: 0px !important;
  height: fit-content !important;
  padding: 10px;
}

input.submitBtn {
  width: fit-content !important;
  justify-self: center !important;
  align-self: center !important;
 font-family: 'Courier New', Courier, monospace !important;
 border: 0px;
 padding: 5px;
 cursor: pointer;
  background-color: lightgray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input {
  padding: 10px;
}

textarea:focus, input:focus{
  outline: 1px solid rgb(95, 95, 95);
}

#accordion > div {
  padding: 0px !important;
  justify-content: center;
}




#loadText {
  color: #f1f1f1;
  display: block;
  text-align: center;
  margin-top: 10px;
}

#loadingGIF {
  filter: invert(1);
  background-color: #000000 !important;
  width: 100%;
}

#loadingAnimation {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.alert-danger {
  background-color: rgb(224, 116, 116);
  border-radius: 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: #383131;
  box-shadow: 0px 0px 5px 0.1px rgba(67, 67, 67, 0.628); 
}

.alert-success {
  background-color: rgb(136, 216, 136);
  border-radius: 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: #383131;
  box-shadow: 0px 0px 5px 0.1px rgba(67, 67, 67, 0.628); 
}

.ui-accordion-header-active {
  background-color:rgb(134, 134, 134) !important; 
  border-color: rgb(134, 134, 134) !important ;
}

.content-cv {
  padding: 0px !important;
}

.content-about {
  padding: 2.5px !important;
}

:focus {
  outline: none !important;
}

.error {
color: #f1f1f1;
}